$Black: #323232;

$MediumBlue: #004892;

$BicBlue: #0095ff;

$White: #ffffff;

$Silver: #afafaf;

$DarkBlue: #002f5f;

$Blue: #0065ad;

$Mercury: #e1e1e1;

$Alabaster: #fafafa;

$Black-opacity: #323232;
